@use "../styles/_variables.scss" as *;

.hero {
	height: 101vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 10px;
	background: linear-gradient(
		180deg,
		$primary-green-color,
		$tertiary-beige-color
	);
	color: $secondary-dark-green-color;
	padding: 20px;
	transition: background 0.2s ease;
	@include section-position;

	@media screen and (max-width: 768px) {
		height: 80vh;
	}

	.hero-img {
		position: absolute;
		inset: 0;
		z-index: 0;

		img {
			@include responsive-img;
			height: 100%;
			filter: opacity(0.3) blur(0.5px);
		}
	}

	.hero-content {
		position: relative;
		z-index: 2;

		h1 {
			font-size: 2.5rem;
			font-family: $dancing-font;
			text-shadow: 2px 2px 10px $black-opacity-20;

			@media screen and (max-width: 768px) {
				font-size: 2rem;
			}
		}

		p {
			font-family: $kalam-font;
			font-size: 1.2rem;
			margin-top: 10px;

			@media screen and (max-width: 768px) {
				font-size: 1rem;
			}
		}
	}

	.buttons-container {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.btn-link {
		@include glass(5px, $white-opacity-30);
		@include button-style($tertiary-beige-color);

		margin-top: 10px;
		display: inline-block;

		@media screen and (max-width: 768px) {
			font-size: 1rem;
		}
	}
}

// Mode Nuit
.dark-mode .hero {
	background: linear-gradient(180deg, $bg-dark, $primary-purple-color);
	color: $light-lilas;

	.btn-link {
		@include glass(5px, $white-opacity-20);
		@include button-style($tertiary-beige-color, $primary-purple-color);
	}
}
