@use "../styles/_variables.scss" as *;

.footer {
	background-color: $secondary-dark-green-color;
	color: $tertiary-beige-color;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem 1rem;
	gap: 1rem;
	text-align: center;

	.footer-text {
		font-size: 1.2rem;
		font-style: italic;
	}

	.footer-signature {
		font-size: 0.9rem;
	}

	.footer-links {
		display: flex;
		gap: 30px;

		a {
			color: $tertiary-beige-color;
			font-size: 1.4rem;
			transition: transform 0.3s ease;

			&:hover {
				transform: scale(1.2);
				color: lighten($tertiary-beige-color, 10%);
			}
		}
	}

	.theme-icon {
		width: 25px;
		height: 25px;
		transition: transform 0.3s ease, color 0.3s ease;
		color: $tertiary-beige-color;

		&:hover {
			transform: rotate(130deg);
		}
	}
}

.theme-toggle {
	background: none;
	border: none;
	cursor: pointer;
	transition: transform 0.2s;

	&:hover {
		transform: scale(1.2);
	}
}

.dark-mode .footer {
	background-color: $bg-dark;

	.footer-links a {
		color: $secondary-lilas-color;

		&:hover {
			color: lighten($secondary-lilas-color, 10%);
		}
	}

	.theme-icon {
		color: $secondary-lilas-color;
	}
}
