@use "../styles/variables.scss" as *;

.projets {
	text-align: center;
	background: linear-gradient(180deg, $light-lilas, $wht-color);
	transition: background 0.2s ease;
	@include section-position;
	@include section-padding;

	@media screen and (max-width: 768px) {
		padding: 0;
	}

	.projet-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
		gap: 20px;
		justify-content: center;
		padding: 20px;
	}

	.projet-card {
		@include glass(8px, $white-opacity-20);
		padding: 20px;
		border-radius: 15px;
		box-shadow: 0 5px 15px $black-opacity-10;
		text-align: center;
		cursor: pointer;
		transition: transform 0.1s ease-out;

		img {
			@include responsive-img(10px);
			height: 250px;
		}

		h3 {
			margin-top: 15px;
			font-size: 1.5rem;
			color: $secondary-dark-green-color;
		}

		p {
			font-size: 1rem;
			color: darken($secondary-dark-green-color, 10%);
			margin-bottom: 15px;
		}

		.buttons {
			display: flex;
			justify-content: center;
			gap: 10px;
			margin-top: 15px;

			a {
				@include button-style($wht-color, $primary-green-color);
				display: flex;
				align-items: center;
				gap: 5px;

				i {
					font-size: 1.2rem;
				}
			}
		}
	}
}

// Mode Nuit
.dark-mode .projets {
	background: linear-gradient(180deg, $bg-dark, $blck-color);

	.projet-card {
		@include glass(8px, $white-opacity-10);
		box-shadow: 0 5px 15px $white-opacity-10;

		h3 {
			color: $secondary-lilas-color;
		}

		p {
			color: $light-lilas;
		}

		.buttons a {
			@include button-style($wht-color, $primary-purple-color);
		}
	}
}
