// Variables de couleur

// Pannel Jour
$primary-green-color: #038289;
$secondary-dark-green-color: #05464c;
$bg-light: #dce3eb;
$light-lilas: #a1a9d6;

// Pannel Nuit
$primary-purple-color: #4c0182;
$secondary-lilas-color: #e8e6fb;
$bg-dark: #0f0928;
$light-green: #30c3b1;

// Autres couleurs
$tertiary-beige-color: #f3e9e0;
$wht-color: #fff;
$blck-color: #000;

// Variables de police
$kalam-font: "Kalam", sans-serif;
$dancing-font: "Dancing Script", cursive;
$homemade-font: "Homemade Apple", cursive;

// Animation
@keyframes shake {
	0% {
		transform: translateX(0) rotate(0);
	}
	25% {
		transform: translateX(-2px) rotate(-2deg);
	}
	50% {
		transform: translateX(2px) rotate(2deg);
	}
	75% {
		transform: translateX(-2px) rotate(-2deg);
	}
	100% {
		transform: translateX(0) rotate(0);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
